{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog Collector</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/splash.svg' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}{% endblock head %}
  </head>

  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img
            src="{% static 'images/header-logo.svg' %}"
            alt="The Dog Collector Logo"
          />
        </a>
      </div>

      <nav>
        <ul>
          <li><a href="{% url 'dog-index' %}">All Dogs</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
