{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dogs/dog-detail.css' %}" />
{% endblock head %} {% block content %}
<section class="dog-container">
  <div class="dog-img">
    <img src="{% static 'images/sk8r-boi-dog.svg' %}" alt="A skater dog dog" />
  </div>
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
    <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
    <h2>A {{ dog.breed }} doggie.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>

    <div class="dog-actions">
      <a href="{% url 'dog-update' dog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dog-delete' dog.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img
        src="{% static 'images/dog-cone.svg' %}"
        alt="An ice cream cone dog"
      />
      <img src="{% static 'images/dog-onigiri.svg' %}" alt="A dog as onigiri" />
      <img
        src="{% static 'images/doggie-kabob.svg' %}"
        alt="A kabob of doggie"
      />
    </div>

    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' dog.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %} {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>

    <h3>Past Feedings</h3>
    {% if dog.feeding_set.all.count %}
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
        </tr>
      </thead>
      <tbody>
        {% for feeding in dog.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="subsection-content">
      <p>⚠️ {{dog.name}} has not been fed!</p>
    </div>
    {% endif %}
  </section>

  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>

      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>

    <h3>{{ dog.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if dog.toys.count %} {% for toy in dog.toys.all %}
      <div class="toy-container">
        <div
          class="color-block"
          style="background-color: {{ toy.color }}"
        ></div>
        <a href="{% url 'toy-detail' toy.id %}">
          <p>A {{ toy.color }} {{ toy.name }}</p>
        </a>
        <form action="{% url 'remove-toy' dog.id toy.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Remove Toy</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <p class="no-toys">{{ dog.name }} doesn't have any toys!</p>
      {% endif %}
    </div>

    <h3>Available Toys</h3>

    <div class="subsection-content">
      {% if toys.count %} {% for toy in toys %}
      <div class="toy-container">
        <div
          class="color-block"
          style="background-color: {{ toy.color }}"
        ></div>
        <p>{{ toy.color }} {{ toy.name }}</p>

        <form action="{% url 'associate-toy' dog.id toy.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn submit">Give Toy</button>
        </form>
      </div>
      {% endfor %} {% else %}
      <p class="all-toys">{{ dog.name }} already has all the available toys!</p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock content %}
