{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dogs/dog-detail.css' %}" />
{% endblock head %} {% block content %}
<section class="dog-container">
  <div class="dog-img">
    <img src="{% static 'images/sk8r-boi-dog.svg' %}" alt="A skater dog dog" />
  </div>
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
    <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
    <h2>A {{ dog.breed }} doggie.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
  </div>
</section>
{% endblock content %}
