{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dogs/dog-index.css' %}" />
{% endblock head %} {% block content %}

<section class="page-header">
  <h1>Dog List</h1>

  <img src="{% static 'images/cool-dog.svg' %}" alt="A cool dog" />
  <img src="{% static 'images/happy-dog.svg' %}" alt="A happy dog" />
  <img src="{% static 'images/teacup-dog.svg' %}" alt="A dog in a teacup" />
  <img src="{% static 'images/dog-in-box.svg' %}" alt="A dog in a box" />
</section>

<section class="card-container">
  {% for dog in dogs %}
  <div class="card">
    <a href="{% url 'dog-detail' dog.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/sk8r-boi-dog.svg' %}"
            alt="a skater dog"
          />
        </div>
        <h2 class="card-title">{{ dog.name }}</h2>

        {% if dog.age > 0 %}
        <p>{{ dog.age }} year old {{ dog.breed }}</p>
        {% else %}
        <p>A {{ dog.breed }} doggie.</p>
        {% endif %}
        <p><small>{{ dog.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock content %}
